<div class="col-md-6 col-lg-4 card-deck mb-3">
		<div class="card shadow">
			<%= link_to article_path(article.id) do %>
				<%= image_tag article.image_url, class: "card-img-top" %>
			<% end %>
			<div class="card-body">
				<h5 class="card-title"><%= article.title %></h5>
				<p class="card-text text-truncate" style="max-width: 180px;"><%= article.content %></p>
				<% if current_user_has?(article) %>
				<div class="btn-group float-right">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						操作
					</button>
					<div class="dropdown-menu dropdown-menu-right">
						<%= link_to '編集', edit_article_path(article.id), class: "dropdown-item text-primary" %>
						<div class="dropdown-divider"></div>
						<%= link_to '削除', article_path(article.id), method: :delete, class: "dropdown-item text-danger",
						data: { confirm: "本当に「<strong>#{article.title}</strong>」を削除してよろしいですか？", 
						commit: "削除する", cancel: "やっぱりやめる" }, title: "削除の確認" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
